{% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('app_book_edit', {'id': book.id}) }}" class="btn btn-warning">Edit</a>

    <form method="post" action="{{ path('app_book_delete', {'id': book.id}) }}" style="display:inline">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ book.id) }}">
        <button class="btn btn-danger">Supprimer</button>
    </form>
{% endif %}
